@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h2{ font-size: 2rem;
    font-weight: 300;
    margin: 2rem;
    
}

header{
    height: 500px;
    background-image: url("/labs/lab-3/img/soup.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
header h1 {
    color: white;
    font-weight: 100;
    font-size: 3.5rem;
}
      
main{
    padding: 2rem 4rem;
}

main img {
    width:50%;
    display: block;
    margin: 0 auto;
}

main section{
    padding: 2rem 0;
}
 /* Section : #Recipe-Information */
#recipe-information p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0 0 2rem 0;
    text-align: justify;
}

/* Section: #Ingredients */
#ingredients ul {
    list-style-type: "- ";
    margin: 0 0 3rem 2rem;
}

#ingredients li{
    font-size: 0.8rem;
    font-weight: 300;

}
#ingredients img {
    width:60%
}
/* Section : #Directions */

#directions ol  {
list-style: none;
margin: 0 0 3rem 2rem;
counter-reset: section;
}
#directions ol li::before{
    content:""counter(section)") ";
    counter-increment: section;

}
#directions li {
    font-size: 0.8rem;
    font-weight: 300;
    margin:0.5rem 0
}